.noticias{ 


	background:#FFF8DC;
	width: 260px;
	padding:5px;
	margin:5px;
	float: left;
	text-align: left;
	font-family: monospace;

 }

 	.div-menu { 
 		height: 40px;
 		margin: 15px;
 		padding: 5px;



 	
 	background: #FAFAD2;



 	 }

 	.menu{ 
		width: 40px;
		height: 40px;
 		background: #FAFAD2;
 		font-family: monospace;
 		display: inline;
 		margin: 20px;
 		padding: 5px;
 		font-color:black;
 		font-size: 20px;


 	 }

 .principal{ 

 	/*border: 2px solid black;*/
 	background: #FAFAD2;
 	text-align: center;

  }

  .clear{ 
  	clear: both;

   
   } 

   	.imagem-galeria {
				background: white;
				width: 255px;
				padding: 5px;
				float: left;
				margin: 5px;
			
    }

    .secundaria { 

    	width: 100%;
    	height: 400px;
    	background: #FFEC8B;

     }